[Desktop Entry]
Version=1.5
Name=Second Life
GenericName=Second Life Viewer
Comment=Client for the Online Virtual World, Second Life
Path=@INSTALLATION_PREFIX@
Exec=@INSTALLATION_PREFIX@/secondlife %u
Icon=com.secondlife.SecondLifeViewer
Terminal=false
Type=Application
Categories=Game;Simulation;
StartupNotify=true
StartupWMClass="com.secondlife.indra.viewer"
MimeType=x-scheme-handler/secondlife
PrefersNonDefaultGPU=true
Actions=DefaultGPU;AssociateMIME;

[Desktop Action DefaultGPU]
Exec=env __GLX_VENDOR_LIBRARY_NAME=\"\" @INSTALLATION_PREFIX@/secondlife
Name=Launch on default GPU

[Desktop Action AssociateMIME]
Exec=@INSTALLATION_PREFIX@/etc/register_secondlifeprotocol.sh
Name=Associate SLURLs
